/* --- CSS Reset & Base Styles --- */
*,
:before,
:after {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

:root {
  --carousel-height: 300px;
  --carousel-radius: 0.5em;
  --carousel-nav-btn-dim: 3em;
  --carousel-page-nav-btn-dim: 0.5em;
  --carousel-caption-padding: 2em;
  --carousel-caption-color: #fff;
  --carousel-caption-bg: linear-gradient(
    to bottom,
    transparent,
    hsl(0 0 0 / 65%) 80%
  );
  --carousel-inner-spacing: 2em;
  --carousel-prev-next-btn-bg: #fff;
  --carousel-prev-next-btn-color: #333;
  --carousel-pagination-margin: 1em;
  --carousel-pagination-gap: 0.75em;
  --carousel-pagination-btn-bg: #aaa;
  --carousel-pagination-btn-active-bg: #333;
}

/* Bagian Hero Section */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.2;
}

.gradient-text {
  background: linear-gradient(90deg, #81c7bc, #f8bbd0);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero-content p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

/* Menu Section */
.menu-section {
  width: 100%;
  height: calc(100vh + 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  cursor: pointer;
}

.icon-box {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.menu-item:hover .icon-box {
  transform: translateY(-5px);
}

.menu-item .menu-image {
  object-fit: cover;
}

/* Warna Gradasi untuk setiap icon */
.bg-tracking {
  background-image: linear-gradient(
    to right top,
    #85d3e6,
    #add4f4,
    #d2d6f4,
    #eadbee,
    #f4e4ea
  );
}
.bg-dokter {
  background-image: linear-gradient(
    to right top,
    #ffecc0,
    #ffd9b0,
    #fec5a5,
    #fab2a0,
    #f29fa0
  );
}
.bg-rumahsakit {
  background-image: linear-gradient(
    to right top,
    #b5ddbd,
    #99d0c1,
    #86c2c4,
    #7eb2c2,
    #7fa1ba
  );
}
.bg-game {
  background-image: linear-gradient(
    to right top,
    #fdecf4,
    #f9d1e3,
    #f5b6d1,
    #f09bbd,
    #eb7ea8
  );
}
.bg-history {
  background-image: linear-gradient(
    to right top,
    #9c65aa,
    #b07ab4,
    #c38fbf,
    #d5a6cc,
    #e5bdd9
  );
}

.menu-label {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000;
}

/* Infinite Slideshow Section */
.infinite-slideshow {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-slideshow {
  width: 100%;
  height: 220px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.container-slideshow::-webkit-scrollbar {
  display: none;
}

.container-slideshow .group {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideshow 50s linear infinite;
  -webkit-animation: slideshow 50s linear infinite;
}

.container-slideshow .group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideshow2 50s linear infinite;
  -webkit-animation: slideshow2 50s linear infinite;
}

.card {
  backdrop-filter: blur(20px);
  border: 1px solid #00000025;
  box-shadow: 0px 2px 4px #00000025;
  min-width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideshow2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.inside-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-contain {
  border-radius: 50%;
  overflow: hidden;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.img-contain img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.inside-card-container h3,
.inside-card-container p {
  color: #333;
  text-align: center;
}

/* Banner Section */
.banner-section {
  width: 100%;
}

.banner-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 2em;
}

.carousel-inner {
  overflow: hidden;
  position: relative;
  min-height: var(--carousel-height);
  border-radius: var(--carousel-radius);
  -webkit-box-shadow: 0px 0px 5px -1px #000000;
  box-shadow: 0px 0px 5px -1px #000000;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-content {
  position: relative;
  z-index: 5000;
  height: 100%;
}

.slide-caption {
  width: 100%;
  position: absolute;
  padding: var(--carousel-caption-padding);
  left: 0;
  bottom: 0;
  color: var(--carousel-caption-color);
  background-image: var(--carousel-caption-bg);
}

.slide-caption a {
  color: currentColor;
}

.slide-caption h3,
.slide-caption p {
  margin: 0;
}

.slide-caption p {
  font-size: 75%;
  opacity: 0.6;
}

.slide img {
  width: 100%;
  object-fit: cover;
}

.carousel-btn {
  width: var(--carousel-nav-btn-dim);
  height: var(--carousel-nav-btn-dim);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--carousel-prev-next-btn-color);
  background-color: var(--carousel-prev-next-btn-bg);
}

.carousel-btn--prev-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s ease-in-out;
}

.carousel-btn--prev-next:hover {
  transform: translateY(-50%) scale(1.2);
}

.carousel-btn--prev {
  left: var(--carousel-inner-spacing);
}

.carousel-btn--next {
  right: var(--carousel-inner-spacing);
}

.carousel-pagination {
  margin-top: var(--carousel-pagination-margin);
  display: flex;
  gap: var(--carousel-pagination-gap);
  justify-content: center;
}

.carousel-pagination .carousel-btn {
  background-color: var(--carousel-pagination-btn-bg);
  height: var(--carousel-page-nav-btn-dim);
  width: var(--carousel-page-nav-btn-dim);
  border-radius: 50%;
  color: transparent;
  transition: transform 0.25s, background-color 0.25s ease-in-out;
}

.carousel-pagination .carousel-btn--active {
  transform: scale(1.5);
  background-color: var(--carousel-pagination-btn-active-bg);
}
